:root {
	--size: 23px;/* размер шрифта */
	--rim: 1px;/* обод */
	--ray: 0.3em;/* радиус */
	--pit: 0.2em;/* впадина */
	--gap: 0.3em;/* зазор */
	--c0:#fafafa;/* цвет 0 */
	--c1:#f5f7fb;/* цвет 1 */
	--c2:#e6edef;/* цвет 2 */
	--c3:#f1f1f1;/* цвет 3 */
	--c4:#9fa294;/* цвет 4 */
	--c5:#ba895d;/* цвет 5 */
	--c6:#777777;/* цвет 6 */
	--c7:#24695c;/* цвет 7 */
	--c8:#1b4c43;/* цвет 8 */
	--c9:#2c323f;/* цвет 9 */
	--cs:#9fa294;/* цвет тени */
	--cb:#e6edef;/* цвет бордюра */
}