* {
  border-color: var(--cb);
  border-width: var(--rim);
}
.border-rounded {
  border-top-left-radius: var(--ray);
  border-top-right-radius: var(--ray);
  border-bottom-left-radius: var(--ray);
  border-bottom-right-radius: var(--ray);
}
.border-tp-lt-radius {border-top-left-radius: var(--ray)}
.border-tp-rt-radius {border-top-right-radius: var(--ray)}
.border-bm-lt-radius {border-bottom-left-radius: var(--ray)}
.border-bm-rt-radius {border-bottom-right-radius: var(--ray)}
.border-c0 {border-color: var(--c0)}
.border-c1 {border-color: var(--c1)}
.border-c2 {border-color: var(--c2)}
.border-c3 {border-color: var(--c3)}
.border-c4 {border-color: var(--c4)}
.border-c5 {border-color: var(--c5)}
.border-c6 {border-color: var(--c6)}
.border-c7 {border-color: var(--c7)}
.border-c8 {border-color: var(--c8)}
.border-c9 {border-color: var(--c9)}
.border-tp-c0 {border-top-color: var(--c0)}
.border-tp-c1 {border-top-color: var(--c1)}
.border-tp-c2 {border-top-color: var(--c2)}
.border-tp-c3 {border-top-color: var(--c3)}
.border-tp-c4 {border-top-color: var(--c4)}
.border-tp-c5 {border-top-color: var(--c5)}
.border-tp-c6 {border-top-color: var(--c6)}
.border-tp-c7 {border-top-color: var(--c7)}
.border-tp-c8 {border-top-color: var(--c8)}
.border-tp-c9 {border-top-color: var(--c9)}
.border-lt-c0 {border-left-color: var(--c0)}
.border-lt-c1 {border-left-color: var(--c1)}
.border-lt-c2 {border-left-color: var(--c2)}
.border-lt-c3 {border-left-color: var(--c3)}
.border-lt-c4 {border-left-color: var(--c4)}
.border-lt-c5 {border-left-color: var(--c5)}
.border-lt-c6 {border-left-color: var(--c6)}
.border-lt-c7 {border-left-color: var(--c7)}
.border-lt-c8 {border-left-color: var(--c8)}
.border-lt-c9 {border-left-color: var(--c9)}
.border-rt-c0 {border-right-color: var(--c0)}
.border-rt-c1 {border-right-color: var(--c1)}
.border-rt-c2 {border-right-color: var(--c2)}
.border-rt-c3 {border-right-color: var(--c3)}
.border-rt-c4 {border-right-color: var(--c4)}
.border-rt-c5 {border-right-color: var(--c5)}
.border-rt-c6 {border-right-color: var(--c6)}
.border-rt-c7 {border-right-color: var(--c7)}
.border-rt-c8 {border-right-color: var(--c8)}
.border-rt-c9 {border-right-color: var(--c9)}
.border-bm-c0 {border-bottom-color: var(--c0)}
.border-bm-c1 {border-bottom-color: var(--c1)}
.border-bm-c2 {border-bottom-color: var(--c2)}
.border-bm-c3 {border-bottom-color: var(--c3)}
.border-bm-c4 {border-bottom-color: var(--c4)}
.border-bm-c5 {border-bottom-color: var(--c5)}
.border-bm-c6 {border-bottom-color: var(--c6)}
.border-bm-c7 {border-bottom-color: var(--c7)}
.border-bm-c8 {border-bottom-color: var(--c8)}
.border-bm-c9 {border-bottom-color: var(--c9)}
.border-none {border-style: none}
.border-solid {border-style: solid}
.border-ridge {border-style: ridge}
.border-inset {border-style: inset}
.border-outset {border-style: outset}
.border-groove {border-style: groove}
.border-dashed {border-style: dashed}
.border-dotted {border-style: dotted}
.border-double {border-style: double}
.border-inherit {border-style: inherit}
.border-initial {border-style: initial}
.border-tp-solid {border-top-style: solid}
.border-tp-ridge {border-top-style: ridge}
.border-tp-inset {border-top-style: inset}
.border-tp-outset {border-top-style: outset}
.border-tp-groove {border-top-style: groove}
.border-tp-dashed {border-top-style: dashed}
.border-tp-dotted {border-top-style: dotted}
.border-tp-double {border-top-style: double}
.border-lt-solid {border-left-style: solid}
.border-lt-ridge {border-left-style: ridge}
.border-lt-inset {border-left-style: inset}
.border-lt-outset {border-left-style: outset}
.border-lt-groove {border-left-style: groove}
.border-lt-dashed {border-left-style: dashed}
.border-lt-dotted {border-left-style: dotted}
.border-lt-double {border-left-style: double}
.border-rt-solid {border-right-style: solid}
.border-rt-ridge {border-right-style: ridge}
.border-rt-inset {border-right-style: inset}
.border-rt-outset {border-right-style: outset}
.border-rt-groove {border-right-style: groove}
.border-rt-dashed {border-right-style: dashed}
.border-rt-dotted {border-right-style: dotted}
.border-rt-double {border-right-style: double}
.border-bm-solid {border-bottom-style: solid}
.border-bm-ridge {border-bottom-style: ridge}
.border-bm-inset {border-bottom-style: inset}
.border-bm-outset {border-bottom-style: outset}
.border-bm-groove {border-bottom-style: groove}
.border-bm-dashed {border-bottom-style: dashed}
.border-bm-dotted {border-bottom-style: dotted}
.border-bm-double {border-bottom-style: double}